
body {
  background: bisque;
  margin-top:100px;
}
.navbar {
	background-color: orangered;
	padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
	margin-left: 3vw;
}

.navbar-toggler {
	margin-right: 3vw;
}
.container {
  margin-top:50px;
}
.pokemon-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.list-group-item {
    border: none;
    text-align: center;

  }
.btn {
    width: 150px;
    background-color: cadetblue;
    border: 1px solid black;
  }

.modal-img {
    width: 200px;
    height: 200px;
  }
.modal-body {
    text-align: center;
  }

.collapse {
    justify-content: right;
  }

.list-group-item {
    background-color: bisque;
  }

@media all and (max-width: 550px) {
.pokemon-list {
    grid-template-columns: 1fr 1fr;
}};
